server:
  port: 8800

spring:
  application:
    name: spring-cloud-config-server-demo
  cloud:
    config:
      server:
        git:
          uri: https://github.com/netbuffer/spring-cloud-config-repo-demo
          # git服务器超时时间
          timeout: 60
          # 强制更新git仓库覆盖本地
          force-pull: false
          default-label: master
          skip-ssl-validation: true
          basedir: .env/spring-cloud-config/
    inetutils:
      ignored-interfaces:
        - ".*vEthernet.*"
        - ".*Hyper-V.*"
        - ".*VirtualBox.*"
        - ".*VMware.*"

logging:
  level:
    root: INFO
    jdbc:
      sqltiming: INFO

print-server-address:
  ignore-parent-context: true